

.about-card{
    /* background-color: azure; */
    background-image: url("https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg");
    height: 50vh;
    width: 100%;
    /* text-align: center; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: aquamarine;

}
.about-sub-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 30px;
    background-color:whitesmoke;
    margin-bottom: 60px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#main-heading{
    font-weight: 700;
    text-align: center;
    color: cadetblue;

}
.paragraph{
    text-align: center;
    padding: 20px;
}
.coreteam-card-icon{
    text-align: center;
    height: 30px;
    width: 40px;
    padding: 1px;
    background-color:white;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightblue;
    border-radius: 30px;
    align-self: center;
    margin-left: 10px;
}
.core-heading{
    margin-bottom: 20px;
    width: fit-content;
    border-left: 5px solid red;
    margin-left: 10%;
    height: fit-content;
    color: white;
    padding: 5px;
    font-weight: 700;
}